html,body,h1,h2,h3,h4,h5,p,ul,li,dl,dt,dd,table,tr,th,td{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1{
    margin-top: 20px;
    padding:10px;
    margin-bottom: 10px;
    background: #67c78c;
    color: #fff;
    border-radius: 6px;
}

h2{
    margin-top: 40px;
}
h3{
    color:#67c78c;
    margin-top: 40px;
    margin-bottom: 6px;
}

h4{
    margin-top: 40px;
    font-weight: bold;
    border-bottom:2px solid #ccc;
    padding-bottom:4px;
    font-size:20px;
     margin-bottom: 6px;
}
h5{
    border-left: 6px solid #67c78c;
    font-size: 18px;
    padding-left:4px;
    margin-top: 20px;
     margin-bottom: 6px;
}
.crew_staff{
    overflow: hidden;
    margin-bottom: 40px;
}

.timetable tr td{
overflow: hidden;
}

.staff{
border-radius: 4px;
border:1px solid #ccc;
margin-right:4px;
margin-bottom:4px;
float: left;
text-align: center;
}

.staff:last-child{
margin-right:0;
}
.timetable tr td p{
padding:4px 6px;

}
.table_com{
    clear: both;
}
.table_br{
    display: none;
}
.work dl{
    margin-top:10px;
    margin-bottom:20px;
}
.work dl dt{
    font-size: 16px;
    margin-bottom:6px;
}
.work dl dd{
    line-height: 1.5;
}
.work p{
    line-height: 1.5;
}

footer{
    background: #555;
    color: #fff;
    margin-top: 40px;
    padding:20px 0;

}
@media screen and (max-width:640px){
h2{
    margin-top: 20px;
    font-size:24px;
}
h3{
    margin-top: 0;
    font-size:22px;
}

h4{
    margin-top: 20px;
}

li{
    margin-bottom:10px;
}
.timetable tr th{
font-size: 13px;
}
.staff{
margin-right:0;
margin-bottom:6px;
float:none;
}
.timetable tr td p{
padding:2px 0;
}
.table_com{
    font-size:13px;
}
.staff:last-child{
margin-bottom:0;
}
.table_br{
    display:block;
}

}